<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                <li><a href="#">Index</a></li>
                <li><a href="#">Alunos</a></li>
                <li><a href="#">Professores</a></li>
                <li><a href="#">Salas</a></li>
                <li><a href="#">Disciplinas</a></li>
            </ul>
        </nav>
    </header>
    <h1>Tabela com informações do alunos</h1>
    <hr>
    <table>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Matrícula</th>
        </tr>
        <tr>
            <td>Tamires Paulino Chaves</td>
            <td>Jangurrusu - 145</td>
            <td>687243</td>
        </tr>
        <tr>
            <td>Lucas Jesus do Carmo</td>
            <td>Jangurrusu - 148</td>
            <td>687143</td>
        </tr>
    
    </table>
    <a href="#">Cadastrar novo aluno</a>
    <br>
    <input type="submit" value="Editar">
    <input type="submit" value="Excluir">
</body>
</html>
