<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<nav id="menu">
        <ul>
            <li><a href="#">Index</a></li>
            <li><a href="#">Alunos</a></li>
            <li><a href="#">Professores</a></li>
            <li><a href="#">Salas</a></li>
            <li><a href="#">Disciplinas</a></li>
        </ul>
    </nav>
	
	<h1>Página cadastrar aluno</h1>
	<hr>
	<br>
	<form>
		
		<label for="aluno">Nome:</label>
		<input type="text" id="aluno" name="aluno" placeholder="Digite seu nome aqui">
		<br>
		<br>
		<label for="usuario">E-mail:</label>
		<input type="email" id="usuario" name="usuario" placeholder="aluno123@gmail.com">
		<br>
		<br>
		<label for="nascimento">Data de nascimento:</label>
		<input type="date" id="nascimento" name="nascimento"></input>
		<br>
		<br>
		<label for="telefone">Telefone:</label>
		<input type="tel" id="telefone" name="telefone" placeholder="(85) 99999-9999">
		<br>
		<br>
		<label for="endereço">Endereço:</label>
		<input type="text" id="endereço" name="endereço" placeholder="Vilarejo - 123, 145">
		
		<br>
		<a href="#">Cadastrar</a>
		
	</form>
</body>
</html>