<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<nav id="menu">
        <ul>
            <li><a href="#">Index</a></li>
            <li><a href="#">Alunos</a></li>
            <li><a href="#">Professores</a></li>
            <li><a href="#">Salas</a></li>
            <li><a href="#">Disciplinas</a></li>
        </ul>
    </nav>
	
	<h1>Página cadastrar sala</h1>
	<br>
	<hr>
	<form>
		<label for="sala">Nova sala:</label>
		<input type="text" id="sala" name="sala">
		<br>
		<br>
		
		<a href="#">Editar</a>
	</form>
</body>
</html>