<h1>Página cadastrar professor</h1>
<br>
<form>
	
	<label for="professor_c"></label>
		<input type="text" id="professor_c" name="professor_c" placeholder="Digite seu nome aqui">
	<label for="e-mail"></label>
		<input type="email" id="e-mail_c" name="e-mail_c" placeholder="Digite seu e-mail aqui">
	<label for="nascimento_c"></label>
		<input type="date" id="nascimento_c" name="nascimento_c">
	<label for="telefone_c"></label>
		<input type="tel" id="telefone_c" name="telefone_c" placeholder="Digite seu telefone aqui">
	<label for="endereço"></label>
		<input type="text" id="endereço_c" name="endereco_c" placeholder="Vilarejo - 123, 145">
	<label for="cadastrar"></label>
		<input type="submmit" id="cadatrar" name="">Cadastrar</input>
	<label for="editar" ></label>
		<input type="submmit" id="editar" name="">Editar</input>
</form>