<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Página cadastrar sala</h1>
	<br>
	<form>
		<label for="sala">Escolha a sala:</label>
		<input type="radio" id="sala" name="sala" value="Matemática Industrial">
		<input type="radio" id="sala" name="sala" value="Engenharia Cívil">
		<input type="radio" id="sala" name="sala" value="Administração">			
		
		<label for="horario">Horário:</label>
		<input type="time" id="horario" name="horario" placeholder="Digite o horário da aula">
		
		<label for="cadastrar"></label>
		<input type="submmit" id="cadatrar" name="" value="Cadastrar">
	</form>
</body>
</html>