<h1>Página cadastrar sala</h1>
<br>
<form>
	<label for="sala">Escolha a sala:</label>
		<input type="radio" id="sala" name="sala" value="Matemática Industrial">
		<input type="radio" id="sala" name="sala" value="Engenharia Cívil">
		<input type="radio" id="sala" name="sala" value="Administração">			
	<label for="horario"></label>
		<input type="time" id="horario" name="horario" placeholser"Digite o horário da aula">
	<label for="cadastrar"></label>
		<input type="submmit" id="cadatrar" name="" value="Cadastrar">
</form>