<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<nav id="menu">
        <ul>
            <li><a href="#">Index</a></li>
            <li><a href="#">Alunos</a></li>
            <li><a href="#">Professores</a></li>
            <li><a href="#">Salas</a></li>
            <li><a href="#">Disciplinas</a></li>
        </ul>
    </nav>
	
	<h1>Página editar sala</h1>
	<br>
	<hr>
	
	<label for="sala_e">Editar sala:</label>
	<input type="text" id="sala_e" name="sala_e">		
	<a href="">Editar</a>
	
	<table>
		<tr>
			<td>Aluno</td>
			<td>Disciplina</td>
		</tr>
		<tr>
			<td>Tamires Paulino Chaves</td>
			<td>Matemática Industrial</td>
		</tr>
	</table>
	
	
</body>
</html>