<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<nav id="menu">
        <ul>
            <li><a href="#">Index</a></li>
            <li><a href="#">Alunos</a></li>
            <li><a href="#">Professores</a></li>
            <li><a href="#">Salas</a></li>
            <li><a href="#">Disciplinas</a></li>
        </ul>
    </nav>
	
	<h1>Página editar sala</h1>
	<br>
	<form>
		<label for="sala_e">Escolha a sala:</label>
		<input type="radio" id="sala" name="sala" value="Matemática Industrial">
		<input type="radio" id="sala" name="sala" value="Engenharia Cívil">
		<input type="radio" id="sala" name="sala" value="Administração">			
		
		<label for="horario_e"></label>
		<input type="time" id="horario_e" name="horario_e" placeholder="Digite o horário da aula">
		
		<label for="editar">Editar</label>
		<input type="submmit" id="editar" name="" value="Editar">
	</form>
</body>
</html>