<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Navegação</title>
</head>
<body>
    <nav id="menu">
        <ul>
            <li><a href="#">Index</a></li>
            <li><a href="#">Alunos</a></li>
            <li><a href="#">Professores</a></li>
            <li><a href="#">Salas</a></li>
            <li><a href="#">Disciplinas</a></li>
        </ul>
    </nav>
    
    <h1>Escola Pingo de Gente</h1>
    <p>Nossa escola iniciou suas atividades em 1989</p>
    
</body>
</html>