<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                <li><a href="#">Index</a></li>
                <li><a href="#">Alunos</a></li>
                <li><a href="#">Professores</a></li>
                <li><a href="#">Salas</a></li>
                <li><a href="#">Disciplinas</a></li>
            </ul>
        </nav>
    </header>
    <h1>Meus dados</h1>
    <hr>
    <form>
         
        <label for="professor">Nome:</label>
        <input type="text" id="professor_u" name="professor_u" placeholder="Digite seu nome aqui">
        <br>
		<br>
        <label for="e-mail">Email:</label>
        <input type="email" id="e-mail_u" name="e-mail_u" placeholder="Digite seu e-mail aqui">
        <br>
		<br>
        <label for="nascimento_u">Data de nascimento:</label>
        <input type="date" id="nascimento_u" name="nascimento_u">
        <br>
		<br>
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone_u" name="telefone_u" placeholder="(85) 99999-9999">
        <br>
		<br>
        <label for="endereço">Endereço:</label>
        <input type="text" id="endereço_u" name="endereco_u" placeholder="Vilarejo - 123, 145">
        <br>
		<br>
        
        <input type="submit" value="Atualizar">
        <input type="submit" value="Alterar senha">
      
    </form>
</body>
</html>