<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
		<nav id="menu">
			<ul>
				<li><a href="#">Index</a></li>
				<li><a href="#">Alunos</a></li>
				<li><a href="#">Professores</a></li>
				<li><a href="#">Salas</a></li>
				<li><a href="#">Disciplinas</a></li>
			</ul>
		</nav>
	</header>

    <h1>Mostrar Professor</h1>
    <hr>
    <table>
        
    </table>

    <input type="submit" value="Editar">
    <input type="submit" value="Excluir">

</body>
</html>